<div class="container-fluid">
    <div class="form-group col-md-6" style="float: left">
    	<%= link_to "Back To Blogs" , blogs_path %>
		<h1>Create a New Blog</h1>
		<%= render partial: 'form' %>
	</div>
</div>
